.card-list {
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;

}

.movie .opening {
    display: none;
}

.active .opening {
    display: block   ;
    background-color: violet;
}


/*thia is a test */